
# Ignore database & Tableau files
supply_chain.db
supply_chain_project.twb

# Ignore unnecessary images
*.jpg
*.png
*.webp
*.feather
*.csv~

# Ignore Python cache
__pycache__/
*.pyc
*.pyo


# Ignore database & Tableau files
supply_chain.db
supply_chain_project.twb

# Ignore unnecessary images
*.jpg
*.png
*.webp
*.feather
*.csv~

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

